.backLeft {
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    padding: 1rem;

    &__TitleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px double pink;
        margin-top: 6vh;
    }

    &__IconContainer {
        display: flex;
        flex-direction: column;
        padding: 1rem 4rem;
        border-bottom: 1px solid grey;
    }
}


.iconText {
    display: flex;
    align-items: center;

    &__span {
        margin-left: 1rem;
    }

}