.backLeft {
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    padding: 1rem;

    @include respond(tab-port) {
        margin-bottom: 2vh;
    }

    &__TitleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px double pink;
        margin-top: 6vh;
    }

    &__IconContainer {
        display: flex;
        flex-direction: column;
        padding: 1rem 4rem;
        border-bottom: 1px solid grey;
    }
}


.iconText {
    display: flex;
    align-items: center;

    &__span {
        margin-left: 1rem;
    }

}


.backLeft2 {
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-rendering: optimizeLegibility;
    flex-direction: column;

    @include respond(tab-port) {
        box-shadow: none;
        
        &:first-child {
            margin-top: 5vh;
        }
    }

    &__parallax {
        display: none;

        &--0 {
            /* The image used */
            background-image: url('../images/front2.png');
        }

        &--1 {
            /* The image used */
            background-image: url('../images/front3.png');
        }

        &--2 {
            /* The image used */
            background-image: url('../images/auto3.png');
        }

        &--3 {
            /* The image used */
            background-image: url('../images/auto4.png');
        }

        &--4 {
            /* The image used */
            background-image: url('../images/auto2.png');
        }

        @include respond(tab-port) {
            display: block;

            height: 50vh; 
            width: 100%;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            @supports (-webkit-touch-callout: none) {
                /* CSS specific to iOS devices */
                background-attachment: initial; 
              }

            &--4 {
                /* The image used */
                background-attachment: initial;
                background-position: top right;
            }
        }
    }


}


.stad {
    &__container {
        //width: 40rem;
        text-align: center;
        padding: 1.5rem;
        //min-height: 50vh;
    }

    &__title {
        display: none;

        @include respond(tab-port) {
            display: block;
            margin-bottom: 1rem;
            //font-family: 'Ruthie', cursive;
            font-family: 'Clicker Script', cursive;
            font-size: 3.5rem;
            font-weight: initial;

            &:first-child {
                margin-top: 2rem;
            }
        }
    }

    &__subTitle {
        margin-bottom: 1rem;
    }

    &__date {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: normal;

        & strong {
            text-transform: none;
        }
    }

    &__link {
        border: solid black 1px;
        display: inline-block;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-decoration: none;
        
        &:active {
            transform: translateY(2px);
        }
    }
}


.venue {
    text-align: center;
    //padding: 2rem;

    &__blocks {
        display: inline-block;
        margin-right: 4rem;

        &:last-child {
            margin-right: 0rem;
        }

        @include respond(phone) {
            margin-right: 1.5rem;
        }
    }
}

.playlist {
    padding: 2rem 0rem;
    width: 600px; 
    height: 480px;

    @include respond(phone) {
        width: 300px;
    }
}

.googleRSVP {
    padding: 0rem 0rem;
    margin-bottom: 1rem;
    width: 600px; 
    height: 480px;

    @include respond(phone) {
        width: 300px;
    }
}