.backLeft {
    // background: green;
    // opacity: 30%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    padding: 1rem;

    &__TitleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px double pink;
    }

    &__IconContainer {
        display: flex;
        flex-direction: column;
        border-bottom: 5px double pink;
    }
}


.iconText {
    display: flex;
    align-items: center;

    &__span {
        margin-left: 1rem;
    }

}