.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: calc(100vh - 4rem);

    @include respond(tab-port) {
        perspective: none;
        -moz-perspective: none;
        position: static;
        height: auto;
    }
    
    &__side {

        @include respond(tab-port) {
            position: static;
            transition: none;
            box-shadow: 0;
            backface-visibility: visible;
        }

        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0.1rem 1.5rem 4rem rgba($color-black, .25);

        &--front {
            background-image: 
                linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)),
                image-set( "../images/hero-small.jpg" 1x,
                "../images/test.jpg" 2x);
            background-size: cover;
            background-position: center;

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            z-index: 0;
            height: 100%;
            color:white;


            @include respond(tab-port) {
                height: 90vh;
                @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
                    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
                    height: 95vh;
                }
            }
                // background: rgb(238, 136, 136);
        }

        &--back {

            @include respond(tab-port) {
                display: block;
                transform: none;
                margin-top: -5vh;
            }

            transform: rotateY(180deg);
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 0.5rem;
        }


        &--back::after {
            content: "";
            background-image: image-set( 
                "../images/hero-small.jpg" 1x,
                "../images/test.jpg" 2x);
            background-size: cover;
            opacity: 0.1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;  
            
            @include respond(tab-port) {
                content: "";
                background-image: none;
                z-index: 0;
                position: static;
            }
        }

    }
  

    &:hover &__side--front {
        @include respond(tab-port) {
            transform: none;
        }
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        @include respond(tab-port) {
            transform: none;
        }
        transform: rotateY(0);
    }

}