.front {

  &__content {
    width: 80%;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
  }

  &__cta {
    @include respond(tab-port) {
      display: none;
    }
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 20px;
  }
}



.Countdown{
    margin: 10px auto;
    padding-bottom: 20px;
  }
  
  .Countdown-col{
    display: inline-block;
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 2rem;
  }