// nav {

//     & ul li {
//         list-style: none;

//         & button {
//             background-color: white;
//             width: 5rem;
//             height: 5rem;
//             border-radius: 50%;
//             margin-right: 5rem;

//             &:hover {

//                 &+span {
//                     visibility: visible;
//                 }
//             }
//         }

//         & span {
//             visibility: hidden;
//             font-size: 2rem;
//         }
//     }
// }


.navigation {
    display: none;

    @include respond(tab-port) {
        display: block;
        
        &__checkbox {
            display: none;
        }
    
        &__button {
            background-color: $color-white;
            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 2rem;
            right: 2rem;
            border-radius: 50%;
            z-index: 2000;
            box-shadow: 0 1rem 3rem rgba($color-black, .1);
            text-align: center;
            cursor: pointer;
        }
    
        &__background {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            position: fixed;
            top: 2.5rem;
            right: 2.5rem;
            background-image: radial-gradient($color-primary-light, $color-primary-dark);
            z-index: 1000;
            transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        }
    
        &__nav {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1500;    
            opacity: 0;
            width: 0;
            transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
        }
    
        &__list {
            list-style: none;
            color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    
        &__item {
            font-size: 2rem;
            flex-direction: row;
    
            &__span {
                padding: 2rem 2rem;
            }
    
            &__button {
                background-color: white;
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                margin-right: 5rem;
            }
    
            &:hover,
            &:active {
                // background-position: 100%;
                transform: translateX(1rem);
                text-transform: uppercase;
                background-image: linear-gradient(120deg, transparent 0%, transparent 30%, $color-white 40%);
                // background-size: 220%;
                transition: all .8s;
            }
        }
    
    
    
        // FUNCTIONALITY
        &__checkbox:checked ~ &__background {
            transform: scale(100);
        }
    
        &__checkbox:checked ~ &__nav {
            opacity: 1;
            width: 100%;
        }
    
    
        //ICON
        &__icon {
            position: relative;
            margin-top: 2rem;
    
            &,
            &::before,
            &::after {
                width: 1.5rem;
                height: 3px;
                background-color: $color-grey-dark-3;
                display: inline-block;
            }
    
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before { top: -.5rem; }
            &::after { top: .5rem; }
        }
    
        &__button:hover &__icon::before {
            top: -1rem;
        }
    
        &__button:hover &__icon::after {
            top: 1rem;
        }
    
        &__checkbox:checked + &__button &__icon {
            background-color: transparent;
        }
    
        &__checkbox:checked + &__button &__icon::before {
            top: 0;
            transform: rotate(135deg);
        }
    
        &__checkbox:checked + &__button &__icon::after {
            top: 0;
            transform: rotate(-135deg);
        }

    }



    // LARGE SCREENS

    &__list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        color: black;
        overflow: hidden;
    }


    &__item {
        font-size: 1.5rem;
        flex-direction: row;
        color: black;
        border-bottom: solid rgba(171, 183, 183, 1) 1px;
        padding: 0 2rem;
        margin-bottom: 5px;


        &__span {
            padding: 0 0;
        }

        &__button {
            background-color: white;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 2rem;
            margin-bottom: 5px;
        }

        &:hover,
        &:active {
            // background-position: 100%;
            transform: translateX(1rem);
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 30%, $color-white 40%);
            // background-size: 220%;
            transition: all .8s;
        }


    }
    
}
