// nav {

//     & ul li {
//         list-style: none;

//         & button {
//             background-color: white;
//             width: 5rem;
//             height: 5rem;
//             border-radius: 50%;
//             margin-right: 5rem;

//             &:hover {

//                 &+span {
//                     visibility: visible;
//                 }
//             }
//         }

//         & span {
//             visibility: hidden;
//             font-size: 2rem;
//         }
//     }
// }


.navigation {
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    @include respond(phone) {
        
        &__item 
        {
            display: block;
            padding: 0rem 0rem;
            

            &__icon {
                background-color: white;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                margin-right: 2rem;
            }
        }
        
    }
    
    
    
    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
    

    &__checkbox:not(:checked) ~ &__nav {
        display: none;
    }
    
    //ICON
    &__icon {
        position: relative;
        margin-top: 2rem;

        &,
        &::before,
        &::after {
            width: 1.5rem;
            height: 3px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.5rem; }
        &::after { top: .5rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }



    // Navigation button
        
    &__checkbox {
        display: none;
    }


    &__button {
        background-color: $color-white;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 2rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 2000;
        //box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 2.5rem;
        right: 2.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;    
        opacity: 0;
        width: 0;
        display: flex;
        //transition: all 5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        justify-content: center;
        align-items: center;
        padding: 0rem 0rem;
        flex-direction: column;
    }




    // LARGE SCREENS

    &__list {
        list-style: none;
        color: black;
        transition:2s;
        //overflow: scroll;

        @include respond(tab-port) {
            background-color: $color-primary-light;
           // background-image: radial-gradient($color-primary-light, $color-primary-dark);
        }
    }

    &__hyper {
        width:100%;
        color: inherit;
        
        &:link {
            text-decoration: none;
        }
          
        &:visited {
            text-decoration: none;
        }
          
        &:hover {
            text-decoration: underline;
        }
          
        &:active {
            text-decoration: underline;
        }

        @include respond(tab-port) {
            padding: 0rem 1rem;
        }
    }

    &__item {
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        color: black;
        border-bottom: solid rgba(171, 183, 183, 1) 1px;
        // padding: 0rem 0rem;
        height: 4.5rem;




        &__icon {
            display: inline-block;
            background-color: white;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            padding: 0.4rem 0.2rem .2rem 0.75rem;

        }

        &__span {
            margin-left: 1rem;
            display: inline-block;
        }

        &:hover,
        &:active {
            // background-position: 100%;
            transform: translateX(1rem);
            background-image: linear-gradient(120deg, transparent 0%, transparent 20%, $color-white 40%);
            // background-size: 220%;
            transition: all .8s;
        }
    }
    
}
